/* .white-bg{
    background-color: white;
    box-shadow: 1px 1px 3px #ebebeb;
    border-radius: 10px;
    padding: 2rem;
  
} */

.header-row{
    font-weight: bold;
    color: rgb(69, 182, 185);
    font-size: smaller;
    /* border-bottom: #ebebeb solid 1px; */
    /* padding-bottom:15px ; */
    
}
.content-row{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: #ebebeb solid 1px;

}

.content-row:hover{
    background-color:#ebebeb;

}
.check{
    color: green;
    margin-right: 30px;
    padding: 5px;
    border-radius: 50%;
}

.check:hover{
    background-color:#d6d6d6 ;
}

.cross{
    color: red;
    padding: 5px;
    border-radius: 50%;
}

.cross:hover{
    background-color:#d6d6d6;
}

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

.action{
    visibility: hidden;
}