.form-control{
    margin-bottom: 1rem;
}

.back-arrow{
    transform: scale(1.2) translateY(-5%);
}

.submit{
    margin-top: 1rem;
}

.input-label{
    margin-bottom: .5rem;
    color: rgb(69, 182, 185);
    font-weight: 500;
}


#list-group-item-action.active{
    background-color: rgb(69, 182, 185);
    border-color: rgb(243, 243, 243);
}