.arrow{
    color: #404040;
    margin-right: 30px;
    padding: 5px;
    margin-left:60%;
    border-radius: 50%;
    align-items: right;
    text-align: right;
}
.arrow:hover{
    background-color:#d6d6d6 ;
}
.checkboxClass{
    position: relative;
    float: right;
    right: .1rem;
    bottom: -1rem;
    color: rgb(172, 172, 172);    
    transform: scale(1.1, 1.1)
}

.checked{
    color: rgb(12, 198, 245);
    transform: scale(1.4,1.4);
}