.title{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}
#page-title{
    padding: 0;
    margin: 0;
}

.plus-icon{
    transform: scale(1.3) translateY(-10%);
    margin-right: .2rem;
}

.bin-icon{
    transform: translateY(-15%);
    margin-right: .3rem;
}

.arrow{
    color: #404040;
    margin-right: 30px;
    padding: 5px;
    margin-left:60%;
    border-radius: 50%;
    align-items: right;
    text-align: right;
}
.arrow:hover{
    background-color:#d6d6d6 ;
}