.form-control{
    margin-bottom: 1rem;
}

.submit{
    margin-top: 1rem;
}

#inputTrainer{
    width: 60%;
}

#inputClassSize{
    width: 60%;
}

.date-picker-container{
    display: flex;
    flex-direction: column;
}

.DayPickerInput{
    margin-bottom: .5rem;
}

.DayPickerInput > input {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 60%;
}