

.input-box-size{
    width: 35% !important;
    /* display: flex; */
}


.HeaderImage{
    height: 300px;
    width: 100%;
    object-fit: cover ;
    border-radius: 4px 4px 0px 0px;
    /* position: absolute; */
    z-index: 0;
}
.gfg {
    /* margin: 3%; */
    position: relative;
    border-radius: 10px;
    background-color: white;

}
.gfg>h5, .gfg>p{
    padding: 1rem;
}

.first-txt {
    position: absolute;
    top: 100px;
    left: 30px;
    color: white;
}

.sub-txt{
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
}

.Overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    background-color: rgba(33, 33, 33, 0.20);
}


.btn-enroll{
    background-color: rgb(252, 255, 217) !important;
    /* color: white !important; */
    width: 200px;
    height: 50px;
}

.btn-enroll:hover{
    /* background-color: rgb(252, 255, 217) !important; */
    /* color: white !important; */
    /* width: 200px; */
    /* height: 50px; */
    box-shadow: 1px 1px 8px yellow;
}