.modal-box{
    padding: 2rem;
}

.confirm-enroll{
    background-color: rgb(243, 107, 130);
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;

}

.closing-icon{
    position: absolute;
    right: 40px;
}