.TopHeader{
    color: #343a40;
    color: 343a40;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:20px 40px 40px 40px ;
    /* padding-top: 20px; */
  }
  
  .TopHeader>span{
    padding-left: 20px;
  }