@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&display=swap');


.white-bg{
    background-color: white;
    box-shadow: 1px 1px 3px #ebebeb;
    border-radius: 10px;
    padding: 2rem;
}


.confirm-enroll{
  background-color: rgb(243, 107, 130);
  width: 100%;
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.fitted-button{
  background-color: rgb(243, 107, 130);
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.fitted-button-corner{
  background-color: rgb(243, 107, 130);
  padding: 8px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}


.center-content-flexbox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hidebutton{
  display: none;
}


