.shadow{
    box-shadow: 1px 0px 8px #404040  ;
  
    /* text-decoration: none !important; */
    
}
.hover-backgroundcolor:hover{
    background-color: #dfdfdf8a;
    /* text-decoration: none !important; */
}

.card-text{
    padding-top:20px ;
    color: #8d8d8d;
    /* text-decoration: none !important; */
}
.try {
    /* text-decoration: none !important; */
    /* display: flex; */
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: inline; */
    /* margin: 0 auto; */

}

.card-title{
    color: #212529;
}

.selected-body{
    outline-style: solid;
    outline-width: .15rem;
    outline-color: rgb(12, 198, 245);
}

.checkbox{
    position: relative;
    float: right;
    right: .1rem;
    bottom: -.5rem;
    color: black;    
    transform: scale(1.1, 1.1)
}

.selected{
    color: rgb(12, 198, 245);
    transform: scale(1.4,1.4);
}