.page-subtitle{
    text-align: center;
    font-size: 30px;

}

.progress{
    margin-top: 5px;
    margin-bottom: 20px;
    /* background-color: aquamarine; */
    /* width: 30%; */

}

.progress-bar{
    background-color:rgb(243, 107, 130) !important;
}


.final-quiz-style{
    top: 55px;
    right: 50px;
    position: absolute;
    text-decoration: none;
}

.final-quiz-style:hover{
    
    text-decoration: underline;
    color: white;
}


.complete{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    right: 50px;
    top: 80px
}

.quiz_disabled{
    top: 55px;
    right: 50px;
    position: absolute;
    text-decoration: none;
}
