.content {
    overflow: auto;
    // box-sizing: border-box;
    // height: calc(100vh - 3.5rem);
    padding: 1rem;
  }


#main { background: rgb(151, 137, 13); flex-grow: 1;
  // position: absolute;  // this is the one
  // z-index: 10;
 
    .header { background: #218380 ;
      @media (orientation: landscape) {
        .title { transition: left 0.4s, right 0.4s;
          &.left-closed { left: 3.5rem; }
        }
      }
    }
  }


  #left{
    .sidebar { transition: transform 0.4s; // <-- Portrait AND landscape!
      @media (orientation: portrait) { width: 80vm; }
      @media (orientation: landscape) { width: calc(1vw * 20); }
      .header { width: calc(100% - 3.5rem); }
    }
  }